.main{
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
}
.form{
    width: 90%;
    min-height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  
}
.error{
    color: red;
    font-size: 12px;
    text-align: left;
}
label{
    text-align: left;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}
.input-box{
    width: 70%;
    margin: auto;
  
}
.input-box input{
    width: 100%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: 0.5px solid white;
}
.input-box button{
    width: 100px;
    height: 40px;
    padding: 5px;
}